#question {
    margin-bottom: 50px;
}
.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FBDF7A;
}
li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}
li .card:hover {
    border: 1px solid black;
    background-color: #FBC841;
}
ol{
    padding: 0;
}